.accordion-button:hover{
    z-index: 0;
}
.accordion-button:focus{
    z-index: 0;
}

.delete-button.btn-primary{
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #f73b48;
    border: none;
    border-radius: 15px;
    box-shadow: 0 8px #b81d28;
    margin-left: 15px;
    margin-top: 5px;
    
}

.delete-button.btn-primary:hover {
    background-color: #d60040;
    box-shadow: 0 8px #a60233;
}

.delete-button.btn-primary:active {
    background-color: #d60040;
    box-shadow: 0 5px #a60233;
    transform: translateY(3px);
}